* {
    margin: 0;
    padding: 0;
}

body {
    background: #444 url('img/body.jpg');
    color: #CCC;
    font: normal 1.2em Verdana, Arial, sans-serif;
    height: 100%;
    padding-bottom: 1px;
    padding-top: 5px;
}

.menu {
    display: block;
    width: 858px;
    margin: 0 auto;
    background: #4A4A4A;
}

.menu__ul {
    display: flex;
    justify-content: space-evenly;
}

.menu__li {
    list-style-type: none;
}

.menu__link {
    padding: 8px 16px;
    display: block;
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

.menu__link:hover {
    text-decoration: underline;
}

.menu__link:active {
    text-decoration: -webkit-activelink;
}

.gallery__img {
    margin: 5px;
    border: 3px solid #fff;
}

.gallery__img:hover {
    border: 3px solid #034F80;
    animation: movement 0.2s infinite;
    -webkit-animation: movement 0.2s infinite;
}

gallery__photo:hover gallery__img {
    border: 3px solid #034F80;
}

#main {
    width: 858px;
    margin: 0 auto;
    background: #4A4A4A;
    color: #CCC;
}

.post_title h2 {
    font: normal 2em Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.big {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: fit-content;
    background: #4A4A4A;
    color: #CCC;
    padding-bottom: 20px;
}

.big__link {
    text-decoration: none;
    color: inherit;
    margin: 10px 0;
    display: block;
}

.big__link:hover {
    text-decoration: underline;
}

.good {
    min-width: 160px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.good__link {
    text-decoration: none;
    color: inherit;
}

.good__link:hover {
    color: -webkit-link;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-items: center;
}

.button {
    display: block;
    padding: 8px 16px;
    color: white;
    background-color: #ccc;
    text-decoration: none;
    border-radius: 10px;
}

.cart-good {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.cart {
    padding: 10px 32px;
}

.orders {
    display: flex;
    flex-direction: column;
}

.order {
    display: flex;
    justify-content: space-around;
}

.order__link {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

